AZURE_AI_FOUNDRY_KEY=
AZURE_AI_FOUNDRY_ENDPOINT=https://YOUR-RESOURCE.services.ai.azure.com/models

AZURE_CHRONOS_ENDPOINT=
AZURE_CHRONOS_KEY=
AZURE_TIMESFM_ENDPOINT=
AZURE_TIMESFM_KEY=
AZURE_MOIRAI_ENDPOINT=
AZURE_MOIRAI_KEY=
